<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
      <%= render partial: 'filters_by_chamber' %>
    </div>
  </div>
</div>

<!-- #### TEMAS DEL DÍA #### -->
<div class="row temas margen-superior">
  <div class="large-12 columns">
    <div class="medium-3 columns left-col">
      <div class="large-12 columns">
        <section class="main">
          <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
              <div class="custom-header clearfix">
                <nav>
                  <span id="custom-prev" class="custom-prev"></span>
                  <span id="custom-next" class="custom-next"></span>
                </nav>
                <h2 id="custom-month" class="custom-month"></h2>
                <h3 id="custom-year" class="custom-year"></h3>
              </div>
              <div id="calendar" class="fc-calendar-container"></div>
            </div>
          </div>
        </section>

        <% if @session %>
            <h4>TEMAS DEL DÍA</h4>
            <ul>
              <% @session.topics.each do |topic| %>
                <hr>
                <li><%= link_to topic.name, session_path(id: @session.id, topic_id: topic.id) %></li>
              <% end %>
            </ul>
       <% end %>
      </div>
    </div>
    <div class="medium-8 end columns text-center">
      <h3 class="text-center"><%= l(@date, format: "TEMAS DEL DÍA %d DE %B, %Y").upcase %></h3>
      <hr>
      <% if @session %>
        <%= render partial: 'topic', locals: { topic: @topic } %>
      <% else %>
        <p>No hubo actividad el día de la fecha</p>
      <% end %>
    </div>
  </div>
</div>


<%= render partial: 'calendar_data' %>