<!-- #### HEADER #### -->
<div class="row header text-center">
  <div class="large-12 columns">
    <h1>QUÉ ES ÁGORA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>
</div>

<!-- #### REPRESENTACIÓN PARLAMENTARIA #### -->
<div class="row representacion text-center">
  <div class="large-12 columns">
    <h1>REPRESENTACIÓN PARLAMENTARIA</h1>
    <h1 class="subheader">2010-2015</h1>
    <div class="large-8 columns">
      <%= image_tag "representacion_2010.svg", alt:"Representación Parlamento Uruguayo" %>
    </div>

    <!--#### DATOS PARLAMENTO ####-->
    <div class="large-3 columns end">
      <div class="row" id="porcentaje">
        <div class="small-6 columns">
          <div class="row"><p class="valor-referencia">95%</p></div>
          <div class="row"><p class="asistencia-referencia">asistencia</p></div>
        </div>
        <div class="small-6 columns">
          <div class="row"><p class="valor-referencia">1234</p></div>
          <div class="row"><p class="asistencia-referencia">iniciativas</p></div>
        </div>
      </div>
      <hr>
      <div class="row partido-referencia">
        <div class="small-2 columns text-right">
          <svg version="1.1" id="Layer_12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="46px" height="46px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="23.0005" y1="46" x2="23.0005" y2="4.882812e-04">
              <stop  offset="0.35" style="stop-color:#6B89C5"/>
              <stop  offset="0.35" style="stop-color:#FFFFFF"/>
              <stop  offset="0.65" style="stop-color:#FFFFFF"/>
              <stop  offset="0.65" style="stop-color:#F37D7C"/>
            </linearGradient>
            <circle fill="url(#SVGID_2_)" cx="23" cy="23" r="23"/>
          </svg>
        </div>
        <div class="small-10 columns end">
          <div class="row">
            <div class="small-6 columns"><p class="valor-referencia">15</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row partido-referencia">
        <div class="small-2 columns text-right">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="46px" height="46px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="23" x2="45.999" y2="23">
              <stop  offset="0.5" style="stop-color:#89D1DA"/>
              <stop  offset="0.5" style="stop-color:#FFFFFF"/>
            </linearGradient>
            <circle fill="url(#SVGID_1_)" cx="23" cy="23" r="23"/>
          </svg>
        </div>
        <div class="small-10 columns end">
          <div class="row">
            <div class="small-6 columns"><p class="valor-referencia">9</p></div>
            <div class="small-6 columns"><p class="valor-referencia">30</p></div>
          </div>
          <div class="row">
            <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row partido-referencia">
        <div class="small-2 columns text-right">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="46px" height="46px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
            <circle fill="#F37D7C" cx="23" cy="23" r="23"/>
          </svg>
        </div>
        <div class="small-10 columns end">
          <div class="row">
            <div class="small-6 columns"><p class="valor-referencia">5</p></div>
            <div class="small-6 columns"><p class="valor-referencia">18</p></div>
          </div>
          <div class="row">
            <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row partido-referencia">
        <div class="small-2 columns text-right">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="46px" height="46px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
            <circle fill="#b2799d" cx="23" cy="23" r="23"/>
          </svg>
        </div>
        <div class="small-10 columns end">
          <div class="row">
            <div class="small-6 columns"><p class="valor-referencia">0</p></div>
            <div class="small-6 columns"><p class="valor-referencia">2</p></div>
          </div>
          <div class="row">
            <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
      </div>
      <!--
                      <hr>
                      <div class="row partido-referencia">
                          <div class="small-2 columns text-right">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="46px" height="46px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
      <circle fill="#80ce80" cx="23" cy="23" r="23"/>
      </svg>
                          </div>
                          <div class="small-10 columns end">
                              <div class="row">
                                  <div class="small-6 columns"><p class="valor-referencia">0</p></div>
                                  <div class="small-6 columns"><p class="valor-referencia">1</p></div>
                              </div>
                              <div class="row">
                                  <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
                                  <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
                              </div>
                          </div>
                      </div>
      -->
    </div>

  </div>
</div>

<!-- #### FICHAS DE PARTIDOS #### -->
<div class="row fichas">

<div class="large-12 columns">

<!-- #### FICHA FA #### -->
<div class="medium-6 columns">
  <div class="ficha">
    <div class="bandera"><%= image_tag "bandera_fa.svg" %></div>
    <div class="row titulo-fichas">
      <div class="small-6 columns text-center">
        <h4>FRENTE AMPLIO</h4>
      </div>
      <div class="small-6 columns text-center">
        <h6>DEPTOS. REPRESENTADOS</h6>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="row">
            <div class="small-5 small-offset-1 columns"><p class="valor-referencia">15</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-5 small-offset-1 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="small-5 small-offset-1 columns"><p class="valor-referencia">15%</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-5 small-offset-1 columns"><p class="cargo-referencia">ASISTENCIAS</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">INICIATIVAS</p></div>
          </div>
        </div>
      </div>

      <div class="small-6 columns ">
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">ART</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CAN</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CRL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">COL</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">DUR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLS</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLA</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">LAV</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">MAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">MVD</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">PAY</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">RNE</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">RIV</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">ROC</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAJ</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">SOR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">TAC</p>
          </div>
          <div class="small-3 columns end">
            <p class="deptos">TYT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- #### FICHA PN #### -->
<div class="medium-6 columns">
  <div class="ficha">
    <div class="bandera"><%= image_tag "bandera_pn.svg" %></div>
    <div class="row titulo-fichas">
      <div class="small-6 columns text-center">
        <h4>P. NACIONAL</h4>
      </div>
      <div class="small-6 columns text-center">
        <h6>DEPTOS. REPRESENTADOS</h6>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">10</p></div>
            <div class="small-6 columns"><p class="valor-referencia">32</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">15%</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">ASISTENCIAS</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">INICIATIVAS</p></div>
          </div>
        </div>
      </div>

      <div class="small-6 columns ">
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">ART</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CAN</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CRL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">COL</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">DUR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLS</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLA</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">LAV</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">MAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">MVD</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">PAY</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">RNE</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">RIV</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">ROC</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAJ</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">SOR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">TAC</p>
          </div>
          <div class="small-3 columns end">
            <p class="deptos">TYT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="large-12 columns">

<!-- #### FICHA PC #### -->
<div class="medium-6 columns">
  <div class="ficha radius round">
    <div class="bandera"><%= image_tag "bandera_pc.svg" %></div>
    <div class="row titulo-fichas">
      <div class="small-6 columns text-center">
        <h4>P. COLORADO</h4>
      </div>
      <div class="small-6 columns text-center">
        <h6>DEPTOS. REPRESENTADOS</h6>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">4</p></div>
            <div class="small-6 columns"><p class="valor-referencia">13</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">15%</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">ASISTENCIAS</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">INICIATIVAS</p></div>
          </div>
        </div>
      </div>

      <div class="small-6 columns ">
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">ART</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CAN</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CRL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">COL</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">DUR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLS</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLA</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">LAV</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">MAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">MVD</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">PAY</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">RNE</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">RIV</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">ROC</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAJ</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">SOR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">TAC</p>
          </div>
          <div class="small-3 columns end">
            <p class="deptos">TYT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #### FICHA PI #### -->
<div class="medium-6 columns">
  <div class="ficha">
    <div class="bandera"><%= image_tag "bandera_pi.svg" %></div>
    <div class="row titulo-fichas">
      <div class="small-6 columns text-center">
        <h4>P. INDEPENDIENTE</h4>
      </div>
      <div class="small-6 columns text-center">
        <h6>DEPTOS. REPRESENTADOS</h6>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">1</p></div>
            <div class="small-6 columns"><p class="valor-referencia">3</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">SENADORES</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="valor-referencia">15%</p></div>
            <div class="small-6 columns"><p class="valor-referencia">50</p></div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">ASISTENCIAS</p></div>
            <div class="small-6 columns"><p class="cargo-referencia">INICIATIVAS</p></div>
          </div>
        </div>
      </div>

      <div class="small-6 columns ">
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">ART</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CAN</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">CRL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">COL</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">DUR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLS</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">FLA</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">LAV</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">MAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">MVD</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">PAY</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">RNE</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">RIV</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">ROC</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAL</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">SAJ</p>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <p class="deptos">SOR</p>
          </div>
          <div class="small-3 columns">
            <p class="deptos">TAC</p>
          </div>
          <div class="small-3 columns end">
            <p class="deptos">TYT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="large-12 columns">

  <!-- #### FICHA UP #### -->
  <!--
              <div class="medium-6 columns">
                  <div class="ficha">
                 <div class="bandera"><img src="img/bandera_up.svg" /></div>
                  <div class="row titulo-fichas">
                      <div class="small-6 columns text-center">
                          <h4>U. POPULAR</h4>
                      </div>
                      <div class="small-6 columns text-center">
                          <h6>DEPTOS. REPRESENTADOS</h6>
                      </div>
                  </div>
                  <div class="row">
                      <div class="small-6 columns">
                          <div class="row">
                              <div class="row">
                                  <div class="small-4 small-offset-2 columns"><p class="valor-referencia">0</p></div>
                                  <div class="small-6 columns"><p class="valor-referencia">1</p></div>
                              </div>
                              <div class="row">
                                  <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">SENADORES</p></div>
                                  <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="row">
                                  <div class="small-4 small-offset-2 columns"><p class="valor-referencia">15%</p></div>
                                  <div class="small-6 columns"><p class="valor-referencia">50</p></div>
                              </div>
                              <div class="row">
                                  <div class="small-4 small-offset-2 columns"><p class="cargo-referencia">ASISTENCIAS</p></div>
                                  <div class="small-6 columns"><p class="cargo-referencia">INICIATIVAS</p></div>
                              </div>
                          </div>
                      </div>

                      <div class="small-6 columns ">
                          <div class="row">
                              <div class="small-3 columns">
                                  <p class="deptos">ART</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">CAN</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">CRL</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">COL</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="small-3 columns">
                                  <p class="deptos">DUR</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">FLS</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">FLA</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">LAV</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="small-3 columns">
                                  <p class="deptos">MAL</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">MVD</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">PAY</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">RNE</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="small-3 columns">
                                  <p class="deptos">RIV</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">ROC</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">SAL</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">SAJ</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="small-3 columns">
                                  <p class="deptos">SOR</p>
                              </div>
                              <div class="small-3 columns">
                                  <p class="deptos">TAC</p>
                              </div>
                              <div class="small-3 columns end">
                                  <p class="deptos">TYT</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
  -->
</div>
</div>

<!-- #### TEMAS DEL DÍA #### -->
<div class="row temas">
  <div class="large-12 columns">
    <div class="medium-3 columns left-col">
      <div class="large-12 columns">
        <section class="main">
          <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
              <div class="custom-header clearfix">
                <nav>
                  <span id="custom-prev" class="custom-prev"></span>
                  <span id="custom-next" class="custom-next"></span>
                </nav>
                <h2 id="custom-month" class="custom-month"></h2>
                <h3 id="custom-year" class="custom-year"></h3>
              </div>
              <div id="calendar" class="fc-calendar-container"></div>
            </div>
          </div>
        </section>
        <h4>TEMAS DEL DÍA</h4>
        <ul>
          <hr>
          <li>Tema del día 1</li>
          <hr>
          <li>Tema del día 2</li>
          <hr>
          <li>Tema del día 3</li>
          <hr>
          <li>Tema del día 4</li>
          <hr>
          <li>Tema del día 5</li>
        </ul>
      </div>
    </div>
    <div class="medium-8 end columns text-center">
      <h3 class="text-center">TEMAS DEL DÍA 8 DE NOVIEMBRE, 2014</h3>
      <hr>
      <h4 class="text-center">LOREM</h4>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </p>
      <a href="#" class="button">VER MÁS</a>
      <hr>
      <h4 class="text-center">LOREM</h4>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </p>
      <a href="#" class="button">VER MÁS</a>

    </div>
  </div>
</div>

