<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
      <ul class="right">
        <li class="boton margen-izquierda">asamblea general</li>
        <li class="boton margen-izquierda">senadores</li>
        <li class="boton margen-izquierda">diputados</li>
        <ul>
    </div>
  </div>
</div>
<div class="small-12 columns text-right">
  <div class="small-8 small-offset-3 ">
    <div class="filtro">
      <ul class="right">
        <li class="label margen-izquierda-mitad">filtro 1</li>
        <li class="label margen-izquierda-mitad">filtro 2</li>
        <li class="label margen-izquierda-mitad">filtro 3</li>
        <li class="label margen-izquierda-mitad">filtro 4</li>
        <li class="label margen-izquierda-mitad">filtro 5</li>
        <li class="label margen-izquierda-mitad">filtro 6</li>
        <ul>
    </div>
  </div>
</div>

<!-- #### FICHAS DE PARLAMENTOS #### -->
<div class="small-12 columns fichas">
<div clas="row ">

<div class="large-4 medium-6 small-12 columns">
<div class="ficha">
<div class="bandera_derecha right"><%= image_tag 'bandera_fa_derecha.svg' %></div>
<div class="row ficha-parlamentario">
<!-- #### FOTO PERFIL ####-->
<div class="small-4 columns">
<%= image_tag 'foto_perfil.jpg', class: 'foto_perfil' %>
</div>
<!-- #### NOMBRE E ICONOS ####-->
<div class="small-8 columns end datos-parlamentario">
<!-- #### NOMBRE ####-->
<div class="row"><h4 class="nombre">NOMBRE DEL PARLAMENTARIO</h4></div>
<!-- #### DEPARTAMENTO ####-->
<div class="row">
<p class="deptos">ARTIGAS</p>
</div>
<!-- #### ICONOS ####-->
<div class="row iconos">
<!-- #### EXPERTISE ####-->
<div class="small-8 columns margen-derecho">
<ul>
<li><%= image_tag 'icono_int.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_def.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_dep.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_sal.svg', class: 'iconos-expertise' %></li>
</ul>
</div>
<!-- #### CONTACTO ####-->
<div class="small-4 columns margen-derecho">
<ul>
<li><a href="#"><%= image_tag 'icono_correo.svg', class: 'icono-correo' %></a></li>
<li><a href="#"><%= image_tag 'icono_fb.svg', class: 'icono-fb' %></a></li>
<li><a href="#"><%= image_tag 'icono_tw.svg', class: 'icono-tw' %></a></li>
</ul>
</div>
</div>
</div>
</div>
<!-- #### 1RA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
<p class="valor-parlamentario-arriba">95%</p>
</div>
<div class="small-4 columns">
<p class="valor-parlamentario-arriba">140</p>
</div>
<div class="small-4 columns">
<p class="valor-parlamentario-arriba">30</p>
</div>
</div>
<!-- #### 2DA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
<p class="dato-ficha">asistencia</p>
</div>
<div class="small-4 columns">
<p class="dato-ficha">iniciativas</p>
</div>
<div class="small-4 columns">
<p class="dato-ficha">intervenciones</p>
</div>
</div>
<!-- #### 3RA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
<p class="valor-parlamentario-abajo">$259.146</p>
</div>
<div class="small-4 columns">
<p class="valor-parlamentario-abajo">2</p>
</div>
<div class="small-4 columns">
<p class="valor-parlamentario-abajo">4</p>
</div>
</div>
<!-- #### 4TA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
<p class="dato-ficha">sueldo</p>
</div>
<div class="small-4 columns">
<p class="dato-ficha">períodos</p>
</div>
<div class="small-4 columns ultimo-dato">
<p class="dato-ficha">viajes</p>
</div>
</div>
</div>
</div>

<div class="large-4 medium-6 small-12 columns">
<div class="ficha">
<div class="bandera_derecha right"><%= image_tag 'bandera_pn_derecha.svg' %></div>
<div class="row ficha-parlamentario">
<!-- #### FOTO PERFIL ####-->
<div class="small-4 columns">
<%= image_tag 'foto_perfil.jpg', class: 'foto_perfil' %>
</div>
<!-- #### NOMBRE E ICONOS ####-->
<div class="small-8 columns end datos-parlamentario">
<!-- #### NOMBRE ####-->
<div class="row"><h4 class="nombre">NOMBRE DEL PARLAMENTARIO</h4></div>
<!-- #### DEPARTAMENTO ####-->
<div class="row">
<p class="deptos">ARTIGAS</p>
</div>
<!-- #### ICONOS ####-->
<div class="row iconos">
<!-- #### EXPERTISE ####-->
<div class="small-8 columns margen-derecho">
<ul>
<li><%= image_tag 'icono_int.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_def.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_dep.svg', class: 'iconos-expertise' %></li>
<li><%= image_tag 'icono_sal.svg', class: 'iconos-expertise' %></li>
</ul>
</div>
<!-- #### CONTACTO ####-->
<div class="small-4 columns margen-derecho">
<ul>
<li><a href="#"><%= image_tag 'icono_correo.svg', class: 'icono-correo' %></a></li>
<li><a href="#"><%= image_tag 'icono_fb.svg', class: 'icono-fb' %></a></li>
<li><a href="#"><%= image_tag 'icono_tw.svg', class: 'icono-tw' %></a></li>
</ul>
</div>
</div>
</div>
</div>
<!-- #### 1RA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
  <p class="valor-parlamentario-arriba">95%</p>
</div>
<div class="small-4 columns">
  <p class="valor-parlamentario-arriba">140</p>
</div>
<div class="small-4 columns">
  <p class="valor-parlamentario-arriba">30</p>
</div>
</div>
<!-- #### 2DA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
  <p class="dato-ficha">asistencia</p>
</div>
<div class="small-4 columns">
  <p class="dato-ficha">iniciativas</p>
</div>
<div class="small-4 columns">
  <p class="dato-ficha">intervenciones</p>
</div>
</div>
<!-- #### 3RA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
  <p class="valor-parlamentario-abajo">$259.146</p>
</div>
<div class="small-4 columns">
  <p class="valor-parlamentario-abajo">2</p>
</div>
<div class="small-4 columns">
  <p class="valor-parlamentario-abajo">4</p>
</div>
</div>
<!-- #### 4TA LINEA DE DATOS ####-->
<div class="row">
<div class="small-4 columns">
  <p class="dato-ficha">sueldo</p>
</div>
<div class="small-4 columns">
  <p class="dato-ficha">períodos</p>
</div>
<div class="small-4 columns ultimo-dato">
  <p class="dato-ficha">viajes</p>
</div>
</div>
</div>
</div>

<!-- #### FICHA FA #### -->
<div class="large-4 medium-6 small-12 columns">
  <div class="ficha">
    <div class="bandera_derecha right"><%= image_tag 'bandera_pc_derecha.svg' %></div>
    <div class="row ficha-parlamentario">
      <!-- #### FOTO PERFIL ####-->
      <div class="small-4 columns">
        <%= image_tag 'foto_perfil.jpg', class: 'foto_perfil' %>
      </div>
      <!-- #### NOMBRE E ICONOS ####-->
      <div class="small-8 columns end datos-parlamentario">
        <!-- #### NOMBRE ####-->
        <div class="row"><h4 class="nombre">NOMBRE DEL PARLAMENTARIO</h4></div>
        <!-- #### DEPARTAMENTO ####-->
        <div class="row">
          <p class="deptos">ARTIGAS</p>
        </div>
        <!-- #### ICONOS ####-->
        <div class="row iconos">
          <!-- #### EXPERTISE ####-->
          <div class="small-8 columns margen-derecho">
            <ul>
              <li><%= image_tag 'icono_int.svg', class: 'iconos-expertise' %></li>
              <li><%= image_tag 'icono_def.svg', class: 'iconos-expertise' %></li>
              <li><%= image_tag 'icono_dep.svg', class: 'iconos-expertise' %></li>
              <li><%= image_tag 'icono_sal.svg', class: 'iconos-expertise' %></li>
            </ul>
          </div>
          <!-- #### CONTACTO ####-->
          <div class="small-4 columns margen-derecho">
            <ul>
              <li><a href="#"><%= image_tag 'icono_correo.svg', class: 'icono-correo' %></a></li>
              <li><a href="#"><%= image_tag 'icono_fb.svg', class: 'icono-fb' %></a></li>
              <li><a href="#"><%= image_tag 'icono_tw.svg', class: 'icono-tw' %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- #### 1RA LINEA DE DATOS ####-->
    <div class="row">
      <div class="small-4 columns">
        <p class="valor-parlamentario-arriba">95%</p>
      </div>
      <div class="small-4 columns">
        <p class="valor-parlamentario-arriba">140</p>
      </div>
      <div class="small-4 columns">
        <p class="valor-parlamentario-arriba">30</p>
      </div>
    </div>
    <!-- #### 2DA LINEA DE DATOS ####-->
    <div class="row">
      <div class="small-4 columns">
        <p class="dato-ficha">asistencia</p>
      </div>
      <div class="small-4 columns">
        <p class="dato-ficha">iniciativas</p>
      </div>
      <div class="small-4 columns">
        <p class="dato-ficha">intervenciones</p>
      </div>
    </div>
    <!-- #### 3RA LINEA DE DATOS ####-->
    <div class="row">
      <div class="small-4 columns">
        <p class="valor-parlamentario-abajo">$259.146</p>
      </div>
      <div class="small-4 columns">
        <p class="valor-parlamentario-abajo">2</p>
      </div>
      <div class="small-4 columns">
        <p class="valor-parlamentario-abajo">4</p>
      </div>
    </div>
    <!-- #### 4TA LINEA DE DATOS ####-->
    <div class="row">
      <div class="small-4 columns">
        <p class="dato-ficha">sueldo</p>
      </div>
      <div class="small-4 columns">
        <p class="dato-ficha">períodos</p>
      </div>
      <div class="small-4 columns ultimo-dato">
        <p class="dato-ficha">viajes</p>
      </div>
    </div>
  </div>
</div>
</div>



</div>