<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
        <%= render partial: 'filters_by_chamber' %>
    </div>
  </div>
</div>
<div class="small-12 columns text-right">
  <div class="small-8 small-offset-3 ">
    <div class="filtro">
      <ul class="right">
        <li class="label margen-izquierda-mitad">filtro 1</li>
        <li class="label margen-izquierda-mitad">filtro 2</li>
        <li class="label margen-izquierda-mitad">filtro 3</li>
        <li class="label margen-izquierda-mitad">filtro 4</li>
        <li class="label margen-izquierda-mitad">filtro 5</li>
        <li class="label margen-izquierda-mitad">filtro 6</li>
        <ul>
    </div>
  </div>
</div>

<!-- #### FICHAS DE PARLAMENTOS #### -->
<div class="small-12 columns fichas">

<%= @legislators.each_slice(3) do |legislators_row| %>
    <div clas="row">
      <%= render partial: 'legislator_data', locals: { legislator: legislators_row[0] }  %>
      <%= render partial: 'legislator_data', locals: { legislator: legislators_row[1] }  %>
      <%= render partial: 'legislator_data', locals: { legislator: legislators_row[2] }  %>
    </div>
<% end %>


</div>