<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ágora</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'modernizr' %>
</head>
<body>

<%= render partial: 'shared/menu' %>

<%= yield %>

<%= render partial: 'shared/footer' %>

</body>
</html>
